* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

.page-header .carousel-item img {
  height: 620px;
}

.product-category .product {
  background-size: cover;
  background-repeat: no-repeat;
}
.product-category .product:hover .thumbnail {
  display: flex;
  align-items: center;
}

.cr-i-03 .copywriting-container, .cr-i-02 .copywriting-container, .cr-i-01 .copywriting-container {
  flex-wrap: wrap;
  width: 500px;
  position: absolute;
}
.cr-i-03 .copywriting-container .copywriting, .cr-i-02 .copywriting-container .copywriting, .cr-i-01 .copywriting-container .copywriting {
  padding: 20px 20px;
  color: #f3ebdd;
  text-shadow: 1px 1px 10px #121311;
  text-align: justify;
}
.cr-i-03 .copywriting-container .copywriting .cw-title, .cr-i-02 .copywriting-container .copywriting .cw-title, .cr-i-01 .copywriting-container .copywriting .cw-title {
  animation: slide-in-right 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.cr-i-03 .copywriting-container .copywriting .cw-value-offer, .cr-i-02 .copywriting-container .copywriting .cw-value-offer, .cr-i-01 .copywriting-container .copywriting .cw-value-offer {
  animation: fade-in-fwd 0.6s cubic-bezier(0.39, 0.575, 0.565, 1) 0.67s both;
}
.cr-i-03 .copywriting-container .copywriting .cw-description, .cr-i-02 .copywriting-container .copywriting .cw-description, .cr-i-01 .copywriting-container .copywriting .cw-description {
  animation: slide-in-left 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.cr-i-03 .copywriting-container .cta-container, .cr-i-02 .copywriting-container .cta-container, .cr-i-01 .copywriting-container .cta-container {
  text-align: center;
  animation: slide-in-bottom 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

body {
  font-family: "Montserrat";
}
body h2 {
  color: #3e556c;
  text-transform: uppercase;
}
body p {
  color: #c0aea9;
  text-align: justify;
}

.copywriting-container .copywriting .cw-title {
  font-size: 1.5rem;
}
.copywriting-container .copywriting .cw-value-offer {
  font-size: 1.75rem;
  text-transform: uppercase;
}
.copywriting-container .copywriting .cw-description {
  font-size: 1rem;
}

.navbar-collapse ul li a {
  font-size: 1.5rem;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
.copywriting p {
  color: #f3ebdd;
}

.category {
  color: #3e556c;
}

.cta-link {
  color: white;
}

.social-media a {
  color: #b3ccd0;
}

.event-date {
  color: white;
}

.submit {
  color: white;
}

.page-footer p {
  color: #f3ebdd;
}

.page-content .our-galery-container h2 {
  padding-top: 50px;
  width: 100%;
  text-align: center;
}
.page-content .upcoming-event-container {
  margin: 50px 50px;
}
.page-content .upcoming-event-container h2 {
  width: 100%;
  text-align: center;
}
.page-content .upcoming-event-container .upcoming-event {
  margin-top: 50px 50px;
  display: flex;
}
.page-content .what-customer-say-container {
  margin: 50px 50px;
}
.page-content .what-customer-say-container h2 {
  width: 100%;
  text-align: center;
}
.page-content .what-customer-say-container .customer-testimonial {
  margin-top: 50px 50px;
  display: flex;
}
.page-content .contact-us-container {
  margin: 50px 50px;
}
.page-content .contact-us-container h2 {
  width: 100%;
  text-align: center;
}

.page-footer {
  background-color: #aa8caf;
  height: 400px;
  padding: 20px 20px 0px 20px;
  color: #f3ebdd;
}
.page-footer .foot-section-container {
  display: flex;
  justify-content: space-around;
}
.page-footer .foot-section-container .foot-section {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.page-footer .foot-section-container .foot-section h3 {
  margin: 0;
}
.page-footer .foot-section-container .foot-section .foot-content {
  display: flex;
  justify-content: left;
}
.page-footer .foot-section-container .foot-section .foot-content a {
  display: flex;
  text-decoration: none;
  color: #f3ebdd;
}
.page-footer .foot-section-container .foot-section .foot-content a i {
  color: #b3ccd0;
  padding: 10px 10px;
}
.page-footer .foot-section-container .foot-section .foot-description {
  display: flex;
  margin: 10px 0px;
}
.page-footer .foot-section-container .foot-section .foot-description p {
  margin: 0;
  text-align: justify;
}
.page-footer .foot-section-container .foot-section .subscribe {
  justify-content: space-around;
}
.page-footer .foot-section-container .foot-section .subscribe input {
  border: 0.5px solid #b3ccd0;
  padding: 5px;
  border-radius: 4px;
}
.page-footer .foot-section-container .foot-section .subscribe .submit {
  border-radius: 4px;
  padding: 0px 5px;
  border: none;
  background-color: #b3ccd0;
}
.page-footer .license {
  border-top: solid 1px #f3ebdd;
  display: flex;
  flex-direction: column;
  height: 80px;
  background-color: #aa8caf;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: #f3ebdd;
}
.page-footer .license p {
  margin: 0;
}

.navbar {
  background-color: #f3ebdd;
  position: sticky;
  top: 0;
  z-index: 99;
}
.navbar .container-fluid {
  justify-content: space-between;
}
.navbar .navbar-collapse {
  padding: 0px 50px;
}
.navbar .navbar-collapse ul {
  width: 100%;
  justify-content: space-between;
}
.navbar .navbar-collapse ul li a {
  color: #aa8caf;
}

.navbar-brand {
  margin: 0;
  padding-left: 50px;
}

.brand {
  font-family: "Ruthie", cursive;
  font-size: 3.5rem;
}

.n-upper-case {
  color: #ffab66;
}

.d-lower-case {
  color: #b3ccd0;
}

.l-lower-case {
  color: #d7b44a;
}

.h-upper-case {
  color: #aa8caf;
}

.about-our-farm {
  display: flex;
  padding: 50px 50px;
}
.about-our-farm .farmer-family {
  width: 55%;
}
.about-our-farm .farmer-family img {
  width: 100%;
  height: 100%;
  border: solid 5px whitesmoke;
}
.about-our-farm .about-us {
  width: 45%;
  padding: 0px 0px 0px 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.about-our-farm .about-us .page-section-title {
  height: 10%;
}
.about-our-farm .about-us .farm-name {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: left;
}
.about-our-farm .about-us .farm-name p {
  font-family: "Ruthie", cursive;
  font-size: 3.1rem;
}
.about-our-farm .about-us .who-we-are {
  height: 40%;
}
.about-our-farm .about-us .who-we-are .nav-pills {
  justify-content: space-between;
}
.about-our-farm .about-us .who-we-are .nav-pills button {
  border: none;
  background-color: transparent;
}
.about-our-farm .about-us .who-we-are .nav-pills button .we-icon {
  color: #3e556c;
}
.about-our-farm .about-us .who-we-are .nav-pills button:hover .we-icon {
  transform: scale(1.1);
}
.about-our-farm .about-us .who-we-are .tab-content {
  padding-top: 20px;
}

.product-category {
  padding: 50px 50px;
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  column-gap: 20px;
  row-gap: 20px;
}
.product-category .product {
  background-color: #f8fafb;
  justify-items: center;
  align-items: center;
  width: 450px;
  height: 450px;
}
.product-category .p01 {
  background-image: url(../images/product/product-category-01.jpg);
}
.product-category .p02 {
  background-image: url(../images/product/product-category-02.jpg);
}
.product-category .p03 {
  background-image: url(../images/product/product-category-03.jpg);
}
.product-category .p04 {
  background-image: url(../images/product/product-category-04.jpg);
}
.product-category .p05 {
  background-image: url(../images/product/product-category-05.jpg);
}
.product-category .p06 {
  background-image: url(../images/product/product-category-06.jpg);
}

.exhibition-stand {
  background-image: url(../images/stand/city-fair.jpg);
  width: 45%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px 0px 10px 10px;
  background-color: white;
  box-shadow: 0px 5px 5px #333333b3;
}

@media (min-width: 1000px) {
  .timeline .demo-card:nth-child(even) .head::after, .timeline .demo-card:nth-child(odd) .head::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  .timeline .demo-card:nth-child(even) .head::before, .timeline .demo-card:nth-child(odd) .head::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #bdbdbd;
    border-radius: 9px;
    box-shadow: 0px 0px 2px 8px;
  }
}
.demo-card:nth-child(1) {
  order: 1;
}

.demo-card:nth-child(2) {
  order: 4;
}

.demo-card:nth-child(3) {
  order: 2;
}

.demo-card:nth-child(4) {
  order: 5;
}

.demo-card:nth-child(5) {
  order: 3;
}

.demo-card:nth-child(6) {
  order: 6;
}

.timeline {
  padding: 100px 0;
  background-color: whitesmoke;
}
.timeline h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 20px;
}
.timeline p.leader {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 45px;
}
.timeline .demo-card-wrapper {
  position: relative;
  margin: auto;
}
@media (min-width: 1000px) {
  .timeline .demo-card-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 1170px;
    height: 1800px;
    margin: 0 auto;
  }
}
.timeline .demo-card-wrapper::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
}
@media (min-width: 1000px) {
  .timeline .demo-card-wrapper::after {
    border-left: 1px solid #bdbdbd;
  }
}
.timeline .demo-card {
  position: relative;
  display: block;
  margin: 10px auto 80px;
  max-width: 94%;
  z-index: 2;
}
@media (min-width: 480px) {
  .timeline .demo-card {
    max-width: 60%;
  }
}
@media (min-width: 720px) {
  .timeline .demo-card {
    max-width: 40%;
  }
}
@media (min-width: 1000px) {
  .timeline .demo-card {
    max-width: 450px;
    height: 450px;
    margin: 90px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .timeline .demo-card:nth-child(odd) {
    margin-right: 45px;
  }
  .timeline .demo-card:nth-child(odd) .head::after {
    border-left-width: 15px;
    border-left-style: solid;
    left: 100%;
  }
  .timeline .demo-card:nth-child(odd) .head::before {
    left: 491.5px;
  }
  .timeline .demo-card:nth-child(even) {
    margin-left: 45px;
  }
  .timeline .demo-card:nth-child(even) .head::after {
    border-right-width: 15px;
    border-right-style: solid;
    right: 100%;
  }
  .timeline .demo-card:nth-child(even) .head::before {
    right: 489.5px;
  }
  .timeline .demo-card:nth-child(2) {
    margin-top: 180px;
  }
}
.timeline .demo-card .head {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;
}
.timeline .demo-card .head .number-box {
  display: inline;
  float: left;
  margin: 15px;
  padding: 10px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.17);
  border-radius: 10%;
}
.timeline .demo-card .head h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: inherit;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 6px;
  line-height: 1rem;
}
@media (min-width: 480px) {
  .timeline .demo-card .head h2 {
    font-size: 165%;
    line-height: 1.2rem;
  }
}
.timeline .demo-card .head h2 span {
  display: block;
  font-size: 0.6rem;
  margin: 0;
}
@media (min-width: 480px) {
  .timeline .demo-card .head h2 span {
    font-size: 0.8rem;
  }
}
.timeline .demo-card .body {
  background-color: #fff;
  padding: 15px;
}
@media (min-width: 1000px) {
  .timeline .demo-card .body {
    height: 365px;
  }
}
.timeline .demo-card .body p {
  font-size: 14px;
  line-height: 18px;
  margin-bottom: 15px;
}
.timeline .demo-card .body img {
  display: block;
  height: 80%;
  width: 100%;
}
.timeline .demo-card--step1 {
  background-color: #b3ccd0;
}
.timeline .demo-card--step1 .head::after {
  border-color: #b3ccd0;
}
.timeline .demo-card--step2 {
  background-color: #d7b44a;
}
.timeline .demo-card--step2 .head::after {
  border-color: #d7b44a;
}
.timeline .demo-card--step3 {
  background-color: #aa8caf;
}
.timeline .demo-card--step3 .head::after {
  border-color: #aa8caf;
}
.timeline .demo-card--step4 {
  background-color: #b3ccd0;
}
.timeline .demo-card--step4 .head::after {
  border-color: #b3ccd0;
}
.timeline .demo-card--step5 {
  background-color: #d7b44a;
}
.timeline .demo-card--step5 .head::after {
  border-color: #d7b44a;
}

.customer-testimonial {
  justify-content: space-between;
}
.customer-testimonial .customer {
  width: 30%;
}
.customer-testimonial .customer .customer-say {
  height: 40%;
  padding: 20px 0px;
}
.customer-testimonial .customer .customer-say p {
  text-align: justify;
  margin: 0;
}
.customer-testimonial .customer .customer-say i {
  color: #b3ccd0;
  width: 100%;
  text-align: right;
}
.customer-testimonial .customer .customer-profile {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 60%;
  padding: 10px 0px;
}
.customer-testimonial .customer .customer-profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  align-self: center;
}
.customer-testimonial .customer .customer-profile p {
  text-align: center;
  margin: 15px 0;
}
.customer-testimonial .customer .customer-profile .social-media {
  text-align: center;
}
.customer-testimonial .customer .customer-profile .social-media a i {
  margin: 0 5px;
}

.contact-us {
  display: flex;
}
.contact-us .side {
  width: 25%;
}
.contact-us .ask-question-form {
  width: 50%;
}
.contact-us .ask-question-form .form-row {
  display: flex;
  flex-direction: column;
  padding: 30px 0px;
}
.contact-us .ask-question-form .form-row .fr {
  padding: 10px 0;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 0.5px solid #b3ccd0;
}
.contact-us .ask-question-form .form-row .submit {
  padding: 10px 0;
  margin-bottom: 10px;
  border-radius: 4px;
  border: none;
  background-color: #b3ccd0;
}

.cr-i-01 .copywriting-container {
  top: 200px;
  left: 50px;
}

.cr-i-02 .copywriting-container {
  top: 200px;
  right: 50px;
}

.cr-i-03 .copywriting-container {
  top: 200px;
  right: 50px;
}

.thumbnail-container {
  text-decoration: none;
  font-size: 2rem;
  height: 100%;
}
.thumbnail-container .thumbnail {
  background-color: rgba(245, 245, 245, 0.582);
  border: solid 5px whitesmoke;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: none;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.thumbnail-container .thumbnail .category {
  display: block;
  text-align: center;
  width: 100%;
}

.cta-container .cta-link {
  text-decoration: none;
  background-color: #aa8caf;
  padding: 10px 10px;
  border-radius: 5px;
}

#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  color: #aa8caf;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}

.why-choose-us {
  display: flex;
  padding: 50px 50px;
  justify-content: space-between;
  background-color: whitesmoke;
}
.why-choose-us .warranty-container {
  display: flex;
  flex-direction: column;
  width: 20%;
}
.why-choose-us .warranty-container .wa-header {
  text-transform: uppercase;
  color: #3e556c;
  font-size: 1.1rem;
  text-align: center;
}
.why-choose-us .warranty-container .wa-icon {
  display: flex;
  width: 100%;
  height: 20vh;
  align-items: center;
  padding: 20px 0px;
}
.why-choose-us .warranty-container .wa-icon img {
  width: 100%;
  height: 100%;
}
.why-choose-us .warranty-container .wa-body p {
  text-align: center;
}
.why-choose-us .vertical-line {
  border: solid 1px white;
}

/*# sourceMappingURL=style.css.map */
