* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  overflow-x: hidden !important;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
}

.landscape-mobile-alert {
  display: none;
}

.product-category .product {
  background-size: cover;
  background-repeat: no-repeat;
}
.product-category .product:hover .thumbnail {
  display: flex;
  align-items: center;
}

body {
  font-family: "Montserrat";
}
body h2 {
  color: #3e556c;
  text-transform: uppercase;
}
body p {
  color: #c0aea9;
  text-align: justify;
  text-shadow: 1px 1px 1px #584d4d;
}

@keyframes slide-in-right {
  0% {
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fade-in-fwd {
  0% {
    transform: translateZ(-80px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-bottom {
  0% {
    transform: translateY(1000px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes slide-in-bck-center {
  0% {
    transform: translateZ(600px);
    opacity: 0;
  }
  100% {
    transform: translateZ(0);
    opacity: 1;
  }
}
@keyframes kenburns-bottom-lef-top-right {
  from {
    background-position: bottom left;
  }
  to {
    background-position: top right;
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.cover-page {
  width: 100%;
  height: 550px;
  background-image: url(../images/cover-page/cover-page-3.jpg);
  background-size: 150%;
  background-repeat: no-repeat;
  animation: kenburns-bottom-lef-top-right 30s linear infinite alternate;
  position: relative;
}
.cover-page .copywriting-container {
  width: 50%;
  height: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 150px;
}
.cover-page .copywriting-container .copywriting {
  width: 100%;
  max-width: 370px;
  position: relative;
  margin-top: 50px;
}
.cover-page .copywriting-container .copywriting p {
  color: #ebe1e1;
  text-shadow: 1px 1px 1px black;
}
.cover-page .copywriting-container .copywriting .carousel .carousel-inner {
  height: 200px;
}
.cover-page .copywriting-container .copywriting .cw-title {
  font-size: 1.5rem;
}
.cover-page .copywriting-container .copywriting .cw-value-offer {
  font-size: 1.75rem;
  text-transform: uppercase;
  padding: 10px 0px;
}
.cover-page .copywriting-container .copywriting .cw-description {
  font-size: 1.45rem;
}
.cover-page .copywriting-container .cta-container {
  margin-top: 10px;
  align-self: center;
}

.page-content .our-galery-container h2 {
  padding-top: 50px;
  width: 100%;
  text-align: center;
}
.page-content .upcoming-event-container h2 {
  width: 100%;
  text-align: center;
}
.page-content .upcoming-event-container .upcoming-event {
  display: flex;
}
.page-content .what-customer-say-container h2 {
  width: 100%;
  text-align: center;
  padding: 50px 0px;
}
.page-content .contact-us-container h2 {
  width: 100%;
  text-align: center;
  padding: 50px 0px;
}

.page-footer {
  background-color: #aa8caf;
  height: 400px;
  padding: 20px 20px 0px 20px;
  color: #f3ebdd;
}
.page-footer .foot-section-container {
  display: flex;
  justify-content: space-around;
}
.page-footer .foot-section-container .foot-section {
  height: 100%;
  width: 30%;
  display: flex;
  flex-direction: column;
  padding: 10px;
}
.page-footer .foot-section-container .foot-section h3 {
  margin: 0;
}
.page-footer .foot-section-container .foot-section .foot-content {
  display: flex;
  justify-content: left;
}
.page-footer .foot-section-container .foot-section .foot-content a {
  display: flex;
  text-decoration: none;
  color: #f3ebdd;
}
.page-footer .foot-section-container .foot-section .foot-content a i {
  color: #b3ccd0;
  padding: 10px 10px;
}
.page-footer .foot-section-container .foot-section .foot-description {
  display: flex;
  margin: 10px 0px;
}
.page-footer .foot-section-container .foot-section .foot-description p {
  margin: 0;
  text-align: justify;
  color: #f3ebdd;
}
.page-footer .foot-section-container .foot-section .our-messenger .msg-icon:hover .msg-link {
  transform: scale(1.5);
}
.page-footer .foot-section-container .foot-section .subscribe-form {
  justify-content: space-around;
}
.page-footer .foot-section-container .foot-section .subscribe-form input {
  border: 0.5px solid #b3ccd0;
  padding: 5px;
  border-radius: 4px;
}
.page-footer .foot-section-container .foot-section .subscribe-form .submit {
  border-radius: 4px;
  padding: 0px 5px;
  border: none;
  background-color: #b3ccd0;
  color: white;
}
.page-footer .license {
  border-top: solid 1px #f3ebdd;
  display: flex;
  flex-direction: column;
  height: 80px;
  background-color: #aa8caf;
  justify-content: center;
  align-items: center;
  font-size: 1.3rem;
  color: #f3ebdd;
}
.page-footer .license p {
  margin: 0;
}

.navbar {
  background-color: #f3ebdd;
  position: sticky;
  top: 0;
  z-index: 99;
}
.navbar .container-fluid {
  justify-content: space-between;
}
.navbar .navbar-collapse {
  padding: 0px 50px;
}
.navbar .navbar-collapse ul {
  width: 100%;
  justify-content: space-between;
}
.navbar .navbar-collapse ul li a {
  color: #aa8caf;
  font-size: 1.5rem;
}
.navbar .navbar-collapse ul li:hover a {
  color: #b3ccd0;
}

.navbar-brand {
  margin: 0;
  padding-left: 50px;
}

.brand {
  font-family: "Ruthie", cursive;
  font-size: 3.5rem;
}

.n-upper-case {
  color: #ffab66;
}

.d-lower-case {
  color: #b3ccd0;
}

.l-lower-case {
  color: #d7b44a;
}

.h-upper-case {
  color: #aa8caf;
}

.about-our-farm {
  display: flex;
  padding: 50px 50px;
}
.about-our-farm .farmer-family {
  width: 55%;
}
.about-our-farm .farmer-family img {
  width: 100vh;
  height: 70vh;
  box-shadow: 0px 0px 20px -6px #554e4e;
}
.about-our-farm .about-us {
  width: 45%;
  padding: 0px 0px 0px 40px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.about-our-farm .about-us .page-section-title {
  height: 10%;
}
.about-our-farm .about-us .farm-name {
  height: 40%;
  display: flex;
  align-items: center;
  justify-content: left;
}
.about-our-farm .about-us .farm-name p {
  font-size: 1.5rem;
  color: #3e556c;
  text-transform: uppercase;
}
.about-our-farm .about-us .who-we-are {
  height: 40%;
}
.about-our-farm .about-us .who-we-are .nav-pills {
  justify-content: space-between;
}
.about-our-farm .about-us .who-we-are .nav-pills button {
  border: none;
  background-color: transparent;
}
.about-our-farm .about-us .who-we-are .nav-pills button .we-icon {
  color: #3e556c;
}
.about-our-farm .about-us .who-we-are .nav-pills button:hover .we-icon {
  transform: scale(1.1);
}
.about-our-farm .about-us .who-we-are .tab-content {
  padding-top: 20px;
}

.product-category {
  padding: 50px 50px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(50%, 30%));
  column-gap: 20px;
  row-gap: 20px;
  max-width: 900px;
}
.product-category .product {
  background-color: #f8fafb;
  justify-items: center;
  align-items: center;
  width: 400px;
  height: 400px;
  box-shadow: 0px 0px 30px -6px #554e4e;
}
.product-category .p01 {
  background-image: url(../images/product/product-category-01.jpg);
}
.product-category .p02 {
  background-image: url(../images/product/product-category-02.jpg);
}
.product-category .p03 {
  background-image: url(../images/product/product-category-03.jpg);
}
.product-category .p04 {
  background-image: url(../images/product/product-category-04.jpg);
}
.product-category .p05 {
  background-image: url(../images/product/product-category-05.jpg);
}
.product-category .p06 {
  background-image: url(../images/product/product-category-06.jpg);
}

.exhibition-stand {
  background-image: url(../images/stand/city-fair.jpg);
  width: 45%;
  background-size: cover;
  background-repeat: no-repeat;
  margin: 0px 0px 10px 10px;
  background-color: white;
  box-shadow: 0px 5px 5px #333333b3;
}

@media (min-width: 1000px) {
  .timeline .demo-card:nth-child(even) .head::after, .timeline .demo-card:nth-child(odd) .head::after {
    position: absolute;
    content: "";
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
  }

  .timeline .demo-card:nth-child(even) .head::before, .timeline .demo-card:nth-child(odd) .head::before {
    position: absolute;
    content: "";
    width: 9px;
    height: 9px;
    background-color: #bdbdbd;
    border-radius: 9px;
    box-shadow: 0px 0px 2px 8px;
  }
}
.demo-card:nth-child(1) {
  order: 1;
}

.demo-card:nth-child(2) {
  order: 4;
}

.demo-card:nth-child(3) {
  order: 2;
}

.demo-card:nth-child(4) {
  order: 5;
}

.demo-card:nth-child(5) {
  order: 3;
}

.demo-card:nth-child(6) {
  order: 6;
}

.timeline {
  margin-top: 50px;
  padding: 100px 0;
  background-color: whitesmoke;
}
.timeline h1 {
  text-align: center;
  font-size: 3rem;
  font-weight: 200;
  margin-bottom: 20px;
}
.timeline p.leader {
  text-align: center;
  max-width: 90%;
  margin: auto;
  margin-bottom: 45px;
}
.timeline .demo-card-wrapper {
  position: relative;
  margin: auto;
}
@media (min-width: 1000px) {
  .timeline .demo-card-wrapper {
    display: flex;
    flex-flow: column wrap;
    width: 1170px;
    height: 1620px;
    margin: 0 auto;
  }
}
.timeline .demo-card-wrapper::after {
  z-index: 1;
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
}
@media (min-width: 1000px) {
  .timeline .demo-card-wrapper::after {
    border-left: 1px solid #bdbdbd;
  }
}
.timeline .demo-card {
  position: relative;
  display: block;
  margin: 10px auto 80px;
  max-width: 94%;
  z-index: 2;
}
@media (min-width: 480px) {
  .timeline .demo-card {
    max-width: 60%;
  }
}
@media (min-width: 720px) {
  .timeline .demo-card {
    max-width: 40%;
  }
}
@media (min-width: 1000px) {
  .timeline .demo-card {
    max-width: 450px;
    height: 450px;
    margin: 90px;
    margin-top: 45px;
    margin-bottom: 45px;
  }
  .timeline .demo-card:nth-child(odd) {
    margin-right: 45px;
  }
  .timeline .demo-card:nth-child(odd) .head::after {
    border-left-width: 15px;
    border-left-style: solid;
    left: 100%;
  }
  .timeline .demo-card:nth-child(odd) .head::before {
    left: 491.5px;
  }
  .timeline .demo-card:nth-child(even) {
    margin-left: 45px;
  }
  .timeline .demo-card:nth-child(even) .head::after {
    border-right-width: 15px;
    border-right-style: solid;
    right: 100%;
  }
  .timeline .demo-card:nth-child(even) .head::before {
    right: 489.5px;
  }
  .timeline .demo-card:nth-child(2) {
    margin-top: 180px;
  }
}
.timeline .demo-card .head {
  position: relative;
  display: flex;
  align-items: center;
  color: #fff;
  font-weight: 400;
}
.timeline .demo-card .head .number-box {
  display: inline;
  float: left;
  margin: 15px;
  padding: 10px;
  font-size: 35px;
  line-height: 35px;
  font-weight: 600;
  background-color: rgba(0, 0, 0, 0.17);
  border-radius: 10%;
}
.timeline .demo-card .head h2 {
  text-transform: uppercase;
  font-size: 1.3rem;
  font-weight: inherit;
  letter-spacing: 2px;
  margin: 0;
  padding-bottom: 6px;
  line-height: 1rem;
}
@media (min-width: 480px) {
  .timeline .demo-card .head h2 {
    font-size: 165%;
    line-height: 1.2rem;
  }
}
.timeline .demo-card .head h2 span {
  display: block;
  font-size: 0.6rem;
  margin: 0;
}
@media (min-width: 480px) {
  .timeline .demo-card .head h2 span {
    font-size: 0.8rem;
  }
}
.timeline .demo-card .body {
  background-color: #fff;
  padding: 15px;
}
@media (min-width: 1000px) {
  .timeline .demo-card .body {
    height: 365px;
  }
}
.timeline .demo-card .body p {
  font-size: 1.2rem;
  line-height: 18px;
  margin-bottom: 15px;
}
.timeline .demo-card .body img {
  display: block;
  height: 80%;
  width: 100%;
}
.timeline .demo-card--step1 {
  background-color: #b3ccd0;
}
.timeline .demo-card--step1 .head::after {
  border-color: #b3ccd0;
}
.timeline .demo-card--step2 {
  background-color: #d7b44a;
}
.timeline .demo-card--step2 .head::after {
  border-color: #d7b44a;
}
.timeline .demo-card--step3 {
  background-color: #aa8caf;
}
.timeline .demo-card--step3 .head::after {
  border-color: #aa8caf;
}
.timeline .demo-card--step4 {
  background-color: #b3ccd0;
}
.timeline .demo-card--step4 .head::after {
  border-color: #b3ccd0;
}
.timeline .demo-card--step5 {
  background-color: #d7b44a;
}
.timeline .demo-card--step5 .head::after {
  border-color: #d7b44a;
}

.customer-say {
  width: 100%;
  height: 600px;
  background-image: url(../images/background/bg2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 100px 0px;
  margin: auto;
}
.customer-say .customer {
  width: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  border-radius: 10px;
}
.customer-say .customer p {
  text-align: center;
}
.customer-say .customer .customer-profile {
  width: 200px;
  height: 200px;
  background-color: whitesmoke;
  border-radius: 50%;
  background-position: center;
  background-size: cover;
  position: relative;
  top: -60px;
  box-shadow: 0px 0px 30px -6px black;
}
.customer-say .customer .cu-name {
  width: 100%;
  padding-bottom: 20px;
}
.customer-say .customer .cu-name p {
  font-size: 1.5rem;
  color: #3e556c;
}
.customer-say .customer .cu-testimonial {
  padding: 0px 20px;
}
.customer-say .customer .cu-sm {
  display: flex;
  justify-content: space-around;
  padding: 20px;
  width: 100%;
}
.customer-say .customer .cu-sm a {
  color: #b3ccd0;
}
.customer-say .customer .cu-sm .sm-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}
.customer-say .customer .cu-sm .sm-icon:hover .sm-link {
  transform: scale(1.5);
}
.customer-say .cu-01 {
  background-image: url(../images/customer/c-01.jpg);
}
.customer-say .cu-02 {
  background-image: url(../images/customer/c-02.jpg);
}
.customer-say .cu-03 {
  background-image: url(../images/customer/c-03.jpg);
}

.contact-us {
  display: flex;
  margin-bottom: 50px;
}
.contact-us .side {
  width: 25%;
}
.contact-us .ask-question-form {
  width: 50%;
}
.contact-us .ask-question-form .form-row {
  display: flex;
  flex-direction: column;
}
.contact-us .ask-question-form .form-row .fr {
  padding: 10px 0;
  margin-bottom: 10px;
  border-radius: 4px;
  border: 0.5px solid #b3ccd0;
}
.contact-us .ask-question-form .form-row .submit {
  padding: 10px 0;
  margin-bottom: 10px;
  border-radius: 4px;
  border: none;
  background-color: #b3ccd0;
  color: white;
}

.thumbnail-container {
  text-decoration: none;
  font-size: 2rem;
  height: 100%;
}
.thumbnail-container .thumbnail {
  background-color: rgba(245, 245, 245, 0.582);
  border: solid 5px whitesmoke;
  width: 100%;
  height: 100%;
  cursor: pointer;
  display: none;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
.thumbnail-container .thumbnail .category {
  display: block;
  text-align: center;
  width: 100%;
  color: #3e556c;
}

.cta-container {
  animation: pulsate-fwd 2.5s ease-in-out infinite both;
}
.cta-container:hover .cta-link {
  color: #b3ccd0;
}
.cta-container .cta-link {
  text-decoration: none;
  background-color: #aa8caf;
  padding: 10px 10px;
  border-radius: 5px;
  color: #ebe1e1;
}

#scroll-to-top {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 10px;
  z-index: 99;
  border: none;
  outline: none;
  color: #aa8caf;
  cursor: pointer;
  padding: 5px;
  border-radius: 10px;
}

.why-choose-us {
  display: flex;
  flex-wrap: wrap;
  padding: 50px 50px;
  justify-content: space-between;
  background-image: url(../images/background/bg1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.why-choose-us h2 {
  display: none;
}
.why-choose-us .warranty-container {
  display: flex;
  flex-direction: column;
  width: 300px;
  border: solid 1px white;
  padding: 15px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0px 0px 10px -6px #554e4e;
}
.why-choose-us .warranty-container .wa-header {
  text-transform: uppercase;
  color: #3e556c;
  font-size: 1.1rem;
  text-align: center;
}
.why-choose-us .warranty-container .wa-icon {
  display: flex;
  width: 100%;
  height: 20vh;
  align-items: center;
  padding: 20px 0px;
}
.why-choose-us .warranty-container .wa-icon img {
  width: 100%;
  height: 100%;
}
.why-choose-us .warranty-container .wa-body p {
  text-align: center;
}

@media only screen and (max-width: 480px) {
  body {
    display: flex;
    flex-direction: column;
  }

  .page-navbar {
    order: 1;
    width: 100%;
  }
  .page-navbar .container-fluid {
    display: flex;
  }
  .page-navbar .container-fluid .navbar-toggler {
    width: 20%;
  }
  .page-navbar .container-fluid .navbar-toggler .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgb(218, 197, 197)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  }
  .page-navbar .container-fluid .navbar-brand {
    width: 80%;
    padding: 0;
    display: flex;
    justify-content: center;
  }
  .page-navbar .container-fluid .navbar-brand p {
    font-size: 2.4rem;
  }
  .page-navbar .container-fluid .navbar-collapse a {
    font-size: 1rem;
  }
  .page-navbar .container-fluid .navbar-collapse .navbar-nav :nth-child(5) {
    display: none;
  }

  .page-header {
    order: 2;
  }
  .page-header .cover-page {
    background-size: 300%;
  }
  .page-header .cover-page .copywriting-container {
    width: 100%;
    padding: 20px 20px;
  }

  .page-content {
    order: 3;
  }
  .page-content .fa-angle-up {
    visibility: hidden;
  }
  .page-content .about-our-farm {
    display: block;
    padding: 20px 0px;
    height: 200px;
    margin-bottom: 150px;
  }
  .page-content .about-our-farm .farmer-family {
    display: none;
  }
  .page-content .about-our-farm .about-us {
    height: 100%;
    width: 100%;
    padding: 0px 20px;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }
  .page-content .about-our-farm .about-us .farm-name {
    display: flex;
    align-items: center;
  }
  .page-content .about-our-farm .about-us .farm-name p {
    font-size: 1.5rem;
  }
  .page-content .about-our-farm .about-us .farm-name p .founder-profile {
    display: none;
  }
  .page-content .about-our-farm .about-us .who-we-are .nav-pills {
    justify-content: space-around;
  }
  .page-content .why-choose-us {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 0px 0px;
    justify-content: space-between;
    align-items: center;
    background-image: none;
  }
  .page-content .why-choose-us h2 {
    display: block;
  }
  .page-content .why-choose-us .warranty-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    border: solid 1px white;
    padding: 15px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 10px -6px #554e4e;
    margin: 20px 0px;
  }
  .page-content .product-category {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0px;
  }
  .page-content .product-category .product {
    width: 300px;
    height: 300px;
    margin-top: 10px;
    border-radius: 10px;
  }
  .page-content .product-category .product .thumbnail-container {
    text-decoration: none;
    font-size: 1.5rem;
    height: 100%;
    display: block;
    border-radius: 5px;
  }
  .page-content .product-category .product .thumbnail-container .thumbnail {
    background-color: #ffab663d;
    border: solid 2px #d7b44a;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: none;
    border-radius: 5px;
  }
  .page-content .product-category .product .thumbnail-container .thumbnail .category {
    color: #aa8cafbb;
    text-shadow: 1px 1px 1px black;
    animation: pulsate-fwd 10s ease-in-out infinite both;
  }
  .page-content .customer-say {
    width: 100%;
    height: 1100px;
    display: flex;
    background-image: none;
    align-items: center;
    padding: 10px 0px;
    margin-bottom: 300px;
  }
  .page-content .customer-say .customer {
    width: 400px;
    background-color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    margin: 40px 0px;
  }
  .page-content .customer-say .customer p {
    text-align: center;
  }
  .page-content .customer-say .customer .customer-profile {
    width: 200px;
    height: 200px;
    background-color: whitesmoke;
    border-radius: 50%;
    background-position: center;
    background-size: cover;
    position: relative;
    top: -60px;
    box-shadow: 0px 0px 30px -6px black;
  }
  .page-content .customer-say .customer .cu-name {
    width: 100%;
    padding-bottom: 20px;
  }
  .page-content .customer-say .customer .cu-name p {
    font-size: 1.5rem;
    color: #3e556c;
  }
  .page-content .customer-say .customer .cu-testimonial {
    padding: 0px 20px;
  }
  .page-content .contact-us-container {
    display: none;
  }

  .page-footer {
    order: 4;
    background-color: #aa8caf;
    height: 300px;
    padding: 20px 20px 0px 20px;
    color: #f3ebdd;
    margin-top: 200px;
  }
  .page-footer .foot-section-container {
    display: flex;
    justify-content: center;
  }
  .page-footer .foot-section-container .visist-us {
    display: none;
  }
  .page-footer .foot-section-container .subcribe-us {
    display: none;
  }
  .page-footer .foot-section-container .write-us {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .page-footer .license {
    border-top: solid 1px #f3ebdd;
    display: flex;
    flex-direction: column;
    height: 80px;
    background-color: #aa8caf;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
  }
  .page-footer .license p {
    margin: 0;
    color: #f3ebdd;
  }
}
@media only screen and (min-width: 481px) and (max-width: 768px) {
  .page-header {
    display: none;
  }

  .page-navbar {
    display: none;
  }

  .page-content {
    display: none;
  }

  .page-footer {
    display: none;
  }

  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #aa8caf;
    overflow: hidden;
  }
  body .landscape-mobile-alert {
    display: block;
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  body .landscape-mobile-alert p {
    font-size: 1.8rem;
    color: #f3ebdd;
    padding: 80px 120px;
  }
}

/*# sourceMappingURL=style.css.map */
