.copywriting {
    p {
        color: #f3ebdd;
    }
}

.category {
    color: #3e556c;
}

.cta-link {
    color: white;
}

.social-media {

    a {
        color: #b3ccd0;
    }
}

.event-date {
    color: rgb(255, 255, 255);
}

.submit {
    color: white;
}

.page-footer {
    p {
        color: #f3ebdd;
    }
}