//family, size and color

body {
    font-family: 'Montserrat';

    h2 {
        color: #3e556c;
        text-transform: uppercase;
    }
    
    p {
        color: #c0aea9;
        text-align: justify;
    }
}

.copywriting-container {

    .copywriting {

        .cw-title {
            font-size: 1.5rem;
        }

        .cw-value-offer {
            font-size: 1.75rem;
            text-transform: uppercase;
        }

        .cw-description {
            font-size: 1rem;
        }
    }
}

.navbar-brand {
    font-family: 'Ruthie', cursive;
    font-size: 4rem;
}

.navbar-collapse {
    ul {
        li {
            a {
                font-size: 1.5rem;
            }
        }
    }
}
