//family, size and color

body {
    font-family: 'Montserrat';

    h2 {
        color: #3e556c;
        text-transform: uppercase;
    }
    
    p {
        color: #c0aea9;
        text-align: justify;
    }
}
