@keyframes slide-in-right {
        0% {
                transform: translateX(1000px);
                opacity: 0;
        }
        100% {
                transform: translateX(0);
                opacity: 1;
        }
}

@keyframes fade-in-fwd {
        0% {
                transform: translateZ(-80px);
                opacity: 0;
        }
        100% {
                transform: translateZ(0);
                opacity: 1;
        }
}

@keyframes slide-in-left {
        0% {
                transform: translateX(-1000px);
                opacity: 0;
        }
        100% {
                transform: translateX(0);
                opacity: 1;
        }
}

@keyframes slide-in-bottom {
        0% {
                transform: translateY(1000px);
                opacity: 0;
        }
        100% {
                transform: translateY(0);
                opacity: 1;
        }
} 

@keyframes scale-in-center {
        0%  {
                transform: scale(0);
                opacity: 1;
        }

        100% {
                transform: scale(1);
                opacity: 1;
        }
}

@keyframes slide-in-bck-center {
        0% {
                transform: translateZ(600px);
                opacity: 0;
        }
        100% {
                transform: translateZ(0);
                opacity: 1;
        }
}

      
      
      
             
