.copywriting {
    p {
        color: #f3ebdd;
    }
}

.category {
    color: #3e556c;
}

.navbar-brand {

    .n-upper-case {
        color:#ffab66;
    }

    .d-lower-case {
        color: #b3ccd0;
    }

    .l-lower-case {
        color: #d7b44a;
    }

    .h-upper-case {
        color: #aa8caf;
    }

}

.cta-link {
    color: white;
}

.customer-say {
    i {
        color: #b3ccd0;
    }
}

.social-media {

    a {
        color: #b3ccd0;
    }
}

.event-date {
    color: rgb(255, 255, 255);
}

.submit {
    color: white;
}

.page-footer {
    p {
        color: #f3ebdd;
    }
}