.about-our-farm {
    display: flex;
    padding: 50px 50px;

    .farmer-family {
        width: 55%;
    
        img {
            width: 100vh;
            height: 70vh;
            box-shadow: 0px 0px 20px -6px rgb(85, 78, 78);
        }
    }

    .about-us {
        width: 45%;
        padding: 0px 0px 0px 40px;
        display: flex;
        justify-content: space-between;
        flex-direction: column;

        .page-section-title {
            height: 10%;
        }

        .farm-name {
            height: 40%;
            display: flex;
            align-items:center;
            justify-content: left;

            p {
                font-size: 1.5rem;
                color: #3e556c;
                text-transform: uppercase
            }
        }

        .who-we-are {
            height: 40%;

            .nav-pills {
                justify-content: space-between;

                button {
                    border: none;
                    background-color: transparent;

                    .we-icon {
                        color: #3e556c;
                    }
                    
                    &:hover .we-icon {
                        transform: scale(1.1); 
                    }  
                }
            }

            .tab-content {
                padding-top: 20px;
            }

        }

    }

}