.cta-container {

    animation: pulsate-fwd 2.5s ease-in-out infinite both;

    &:hover .cta-link{
        color: #b3ccd0;
    }

    .cta-link {
        text-decoration: none;
        background-color: #aa8caf;
        padding: 10px 10px;
        border-radius: 5px;
        color:rgb(235, 225, 225);
    }
}