.customer-testimonial {
    justify-content: space-between;

    .customer {
        width: 30%;

        .customer-say {
            height: 40%;
            padding: 20px 0px;

            p {
                text-align: justify;
                margin: 0;
            }

            i {
                color: #b3ccd0;
                width: 100%;
                text-align: right;
            }
        }

        .customer-profile {
            display: flex;
            flex-direction: column;
            width: 100%;
            height: 60%;
            padding: 10px 0px;

            img {
                width: 200px;
                height: 200px;
                border-radius: 50%;
                align-self: center;
            }

            p {
                text-align: center;
                margin: 15px 0;
            }

            .social-media {
                text-align: center;

                a {
                    i {
                        margin: 0 5px;
                    }
                }
            }
        }
    }
}
