.event-calendar {
    width: 55%;
    display: block;

    .event {
        background-color: rgb(255, 255, 255);
        box-shadow: 0px 0px 5px #333333b3;
        margin: 0px 0px 10px 20px ;
        display: grid;
        grid-template-columns: auto auto;

        .event-date {
            display: inline-block;
            width: 100%;
            color: rgb(255, 255, 255);
            background-color: #b3ccd0;
            padding: 5px;
            text-align: center;
            text-transform: uppercase;

            .day {
                font-size: 56pt;
                font-weight: 100;
                line-height: 1;
            }

            .month {
                font-size: 24pt;
                font-weight: 900;
                line-height: 1;
            }
        }

        .event-place {
            color: $p-color;
            padding-top: 5px;
            text-align: center;
            display: grid;
            grid-template-columns: auto;
            grid-template-rows: auto auto auto;

            .time {
                font-size: 17pt;
                font-weight: 700;
                margin: 0px;
                text-transform: uppercase;
                grid-row: 1 / 1;
            }

            .place-address {
                font-size: 13pt;
                font-weight: 300;
                margin: 0px;
                grid-row: 2 / 2;
            }

            a {
                cursor: pointer;
                color: $p-color;
                font-size: 11pt;
                font-weight: 300;
                padding: 3px 0px;
                width: 100%;
                text-decoration: none;
                display: block;
                grid-row: 3 / 3;

                &:hover {
                    color: rgb(30, 30, 30);
                    background-color: rgb(200, 200, 200);
                }
            }
        }
    }
}