.navbar-brand {
    margin: 0;
    padding-left: 50px;
}

.brand {
    font-family: 'Ruthie', cursive;
    font-size: 3.5rem;
}

.n-upper-case {
    color:#ffab66;
}

.d-lower-case {
    color: #b3ccd0;
}

.l-lower-case {
    color: #d7b44a;
}

.h-upper-case {
    color: #aa8caf;
}