.navbar-brand {
    margin: 0;
    padding-left: 50px;

    p {
        color: #c0aea9;
        margin: 0;
    }

    .n-upper-case {
        color:#ffab66;
    }

    .d-lower-case {
        color: #b3ccd0;

    }

    .l-lower-case {
        color: #d7b44a;

    }

    .h-upper-case {
        color: #aa8caf;

    }

}