.product-category {
    padding: 50px 50px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(50%, 30%));
    column-gap: 20px;
    row-gap: 20px;
    max-width: 900px;

    .product {
        background-color: #f8fafb;
        justify-items: center;
        align-items: center;
        @extend %thumbnail-layout;
        width: 400px;
        height: 400px;
        box-shadow: 0px 0px 30px -6px rgb(85, 78, 78);
    }

    .p01 {
        background-image: url(../images/product/product-category-01.jpg);
    }
    
    .p02 {
        background-image: url(../images/product/product-category-02.jpg);
    }
    
    .p03 {
        background-image: url(../images/product/product-category-03.jpg);
    }
    
    .p04 {
        background-image: url(../images/product/product-category-04.jpg); 
    }
    
    .p05 {
        background-image: url(../images/product/product-category-05.jpg);
    }
    
    .p06 {
        background-image: url(../images/product/product-category-06.jpg);
    }
}


