@media only screen and (max-width: 480px) /*and (orientation: portrait)*/ {
    body {
        display: flex;
        flex-direction: column;
    }

    .page-header {
        order: 2;

    }

    .page-navbar {
        order: 1;

    }

    .page-content {
        order: 3;

    }

    .page-footer {
        order: 4;

    }
}