//layout and display

.page-content {

    .about-our-farm-container {

    }

   .our-galery-container {
        margin: $section-margin;
        
        h2 {
            width: 100%;
            text-align: center;
        }

        .product-category {
            margin-top: $section-margin;
            display: grid;
            grid-template-columns: auto auto auto;
            grid-template-rows: auto auto;
        }
   }

   .upcoming-event-container {
         margin: $section-margin;   
        
        h2 {
            width: 100%;
            text-align: center;
        }   

       .upcoming-event {
           margin-top: $section-margin;
           display: flex;
       }
   }

   .what-customer-say-container {
        margin: $section-margin;
        
        h2 {
            width: 100%;
            text-align: center;
        } 

       .customer-testimonial {
           margin-top: $section-margin;
           display: flex;
       }

   }

   .contact-us-container {
        margin: $section-margin;
        
        h2 {
            width: 100%;
            text-align: center;
        }

    }
}