.page-footer {
    background-color: #aa8caf;
    height: 300px;
    display: flex;

    .side {
        width: 25%;
    }

    .social-media {
        width: 50%;
        display: flex;
    }

}

.license-container {
    border-top: solid 1px #f3ebdd;
    display: flex;
    height: 80px;
    background-color: #aa8caf;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    color: #f3ebdd;
}