.page-footer {
    background-color: #aa8caf;
    height: 300px;
    .footer-container {

    }

}

hr {
    margin: 0 0;
}

.license-container {
    height: 40px;
    background-color: #aa8caf;
    text-align: center;
    font-size: 1.3rem;
    color: #f3ebdd;
}