%carousel-size {
    height: 567px;
}

%thumbnail-layout {
    background-size: cover;
    background-repeat: no-repeat;

    &:hover .thumbnail {
        display: flex; 
        align-items: center;   
    }    
}

%copywriting-layout {
    flex-wrap: wrap;
    width: 500px;
    position: absolute;
    
    .copywriting {
        padding: 20px 20px;
        color: #f3ebdd;
        text-shadow: 1px 1px 10px rgb(18, 19, 17);
        text-align: justify;

        .cw-title {
            animation: slide-in-right 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
        }

        .cw-value-offer {
            animation: fade-in-fwd 0.6s cubic-bezier(0.390, 0.575, 0.565, 1.000) 0.670s both;              
        }

        .cw-description {
            animation: slide-in-left 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;              
        }
    }

    .cta-container {
        text-align: center;
        animation: slide-in-bottom 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
    }
}
