body {
    font-family: 'Montserrat';
}

.copywriting-container {
    font-family: 'Montserrat';

    .copywriting {

        .cw-title {
            font-size: 1.5rem;
        }

        .cw-value-offer {
            font-size: 1.75rem;
            text-transform: uppercase;
        }

        .cw-description {
            font-size: 1rem;
        }
    }
}

.navbar-brand {
    font-family: 'Ruthie', cursive;
    font-size: 3rem;
}
