.cr-i-01 {
    .copywriting-container {
        top: 200px;
        left: 50px;
        @extend %copywriting-layout;
    }
}

.cr-i-02 {
    .copywriting-container {
        top: 200px;
        right: 50px;
        @extend %copywriting-layout;
    }
}

.cr-i-03 {
    .copywriting-container {
        top: 200px;
        right: 50px;
        @extend %copywriting-layout;
    }
}