#scroll-to-top {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    color: #aa8caf;
    cursor: pointer;
    padding: 5px;
    border-radius: 10px;
  }
